{% extends "base.html" %}
{% block content %}
<h2>Add New Fitting</h2>
<form method="POST" class="card p-3 shadow-sm">
  <div class="mb-3">
    <label>Item Name</label>
    <input type="text" name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Category</label>
    <select name="category" class="form-select">
        <option value="Copper">Copper</option>
        <option value="Brass">Brass</option>
        <option value="PVC">PVC</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Add Item</button>
</form>
{% endblock %}
